In [250]:
import sys
sys.path.append(os.getcwd()+"/etracking-ds-services-dev/ds-services/data-wwtp/src/data_store")
import Configuration
import imp
imp.reload(Configuration)

var_lerne_selected = ['DEBIT_BOUES_EN_EXCES_1',
'DEBIT_BOUES_EN_EXCES_2',
'DEBIT_BY_PASS',
'DEBIT_DE_SORTIE_FILE_1',
'DEBIT_DE_SORTIE_FILE_2',
'DEBIT_ENTREE',
'DEBIT_LIQUEUR_BIOLIX',
'DEBIT_POSTE_TOUTE_EAU',
'DEBIT_PPE_RECIRCULATION_T1_F1',
'DEBIT_PPE_RECIRCULATION_T1_F2',
'DEBIT_PPE_RECIRCULATION_T2_F1',
'DEBIT_PPE_RECIRCULATION_T2_F2',
'DEBIT_REACTIF_FILE_1_CENTRI_1',
'DEBIT_REACTIF_FILE_2_CENTRI_2',
'DEBIT_RECIRCULATION_F1',
'DEBIT_RECIRCULATION_F2',
'DEBIT_SORTIE',
'DEBIT_VIDANGE_AVAL_DEGRILLEUR']

result_file = data_direct+"donnees_journalieres_narbonne.csv"

Conf = Configuration.Config(
                 site = "narbonne",
                 data_direct = "Data/",
                 bucket_key = "gbl-ist-veri-waternamics-b18b5f179b6a.json",
                 opus_file = "opus/bq-results-20200715-162755-jqt4vq38f28g.csv",
                 eveler_file = "eveler/narbonne-ville.csv",
                 meteo_files = ["weather/weather_narbonne_2015 - Sheet1.csv",
                                "weather/weather_narbonne_2016 - Sheet1.csv",
                                "weather/weather_narbonne_2017 - Sheet1.csv",
                                "weather/weather_narbonne_2018 - Sheet1.csv",
                                "weather/weather_narbonne_2019 - Sheet1.csv"],
                 lerne_file = ["lerne/lerne_narbonne_01janv2019_02juin2019.csv",
                               "lerne/lerne_narbonne_01juin2019_31oct2019.csv",
                               "lerne/2019-11.csv",
                               "lerne/2019-12.csv",
                               "lerne/2020-01.csv",
                               "lerne/2020-02.csv",
                               "lerne/2020-03.csv"],
                 var_lerne = var_lerne_selected,
                 result_file = "journalieres/donnees_journalieres_narbonne.csv")

In [251]:
import Preproc_Data
imp.reload(Preproc_Data)
preproc = Preproc_Data.Preprocessor(Conf)
preproc.Run()

Lecture du fichier: Data/eveler/narbonne-ville.csv ...
Lecture du fichier: Data/opus/bq-results-20200715-162755-jqt4vq38f28g.csv ...
Lecture du fichier: Data/weather/weather_narbonne_2015 - Sheet1.csv ...
Lecture du fichier: Data/weather/weather_narbonne_2016 - Sheet1.csv ...
Lecture du fichier: Data/weather/weather_narbonne_2017 - Sheet1.csv ...
Lecture du fichier: Data/weather/weather_narbonne_2018 - Sheet1.csv ...
Lecture du fichier: Data/weather/weather_narbonne_2019 - Sheet1.csv ...
Lecture du fichier: Data/lerne/lerne_narbonne_01janv2019_02juin2019.csv ...
Lecture du fichier: Data/lerne/lerne_narbonne_01juin2019_31oct2019.csv ...
Lecture du fichier: Data/lerne/2019-11.csv ...
Lecture du fichier: Data/lerne/2019-12.csv ...
Lecture du fichier: Data/lerne/2020-01.csv ...
Lecture du fichier: Data/lerne/2020-02.csv ...
Lecture du fichier: Data/lerne/2020-03.csv ...

In [237]:
df_opus = pd.read_csv("Data/opus/bq-results-20200715-162755-jqt4vq38f28g.csv",sep = ",",low_memory = False)

In [238]:
df_opus.head()

               GRANDEUR_PTMES UNITE                     DATE  VALEUR
0          QJ__AUTRE_AE_TOT__  m³/j  2010-12-31 23:00:00 UTC    20.5
1               QJ__MCR_TOT__  m³/j  2010-12-31 23:00:00 UTC     0.0
2            h_Pluie__EB_A3__    mm  2010-12-31 23:00:00 UTC     0.0
3               QJ__MDV_TOT__  m³/j  2010-12-31 23:00:00 UTC     0.0
4  QJ__Sortie 1 eau traitée__  m³/j  2010-12-31 23:00:00 UTC  3369.0

In [241]:
df_opus.index = pd.to_datetime(df_opus['DATE'],format="%Y-%m-%d %H:%M:%S %Z")

In [243]:
def set_time_locale(d):   
    return d.replace(tzinfo=None)  

df_opus.index = df_opus.index.map(set_time_locale)

In [244]:
df_opus.head()

,GRANDEUR_PTMES,UNITE,DATE,VALEUR
DATE,,,,
2010-12-31 23:00:00,QJ__AUTRE_AE_TOT__,m³/j,2010-12-31 23:00:00 UTC,20.5
2010-12-31 23:00:00,QJ__MCR_TOT__,m³/j,2010-12-31 23:00:00 UTC,0.0
2010-12-31 23:00:00,h_Pluie__EB_A3__,mm,2010-12-31 23:00:00 UTC,0.0
2010-12-31 23:00:00,QJ__MDV_TOT__,m³/j,2010-12-31 23:00:00 UTC,0.0
2010-12-31 23:00:00,QJ__Sortie 1 eau traitée__,m³/j,2010-12-31 23:00:00 UTC,3369.0

In [246]:
dir(preproc)

['Config',
 'Fusionne_Data',
 'Read_Data',
 'Read_Eveler_file',
 'Read_Lerne_file',
 'Read_Meteo_Files',
 'Read_OPUS_file_brut',
 'Resample_Data',
 'Run',
 'Upload_gcs_results',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'df_conso_jour',
 'df_eveler',
 'df_lerne',
 'df_lerne_jour',
 'df_meteo',
 'df_opus',
 'set_time_utc']

In [247]:
preproc.df_opus.head()

GRANDEUR_PTMES,Ch_DCO__EB_SYS__,Ch_DCO__EE_SYS__,Ch_MEST__EB_SYS__,Ch_MEST__EE_SYS__,Ch_NGL__EB_SYS__,Ch_NGL__EE_SYS__,QJ__EB_SYS__,QJ__EE_SYS__,Ch_DCO_traitee,Ch_MEST_traitee,Ch_NGL_traitee
DATE,,,,,,,,,,,
2010-12-31 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,6809.50,6789.0,NaN,NaN,NaN
2011-01-01 23:00:00,5594.1360,101.835,2919.2700,35.3028,544.00256,34.14867,6789.00,6789.0,5492.3010,2883.9672,509.85389
2011-01-02 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,7844.38,7673.0,NaN,NaN,NaN
2011-01-03 23:00:00,6255.4966,113.805,2785.2751,30.3480,NaN,NaN,7819.10,7587.0,6141.6916,2754.9271,NaN
2011-01-04 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,8885.84,8870.0,NaN,NaN,NaN